### Initializing a Connection

We'll be using a MockConnection object and some sampledata for this example. Please feel free to follow along with your local credentials and switching the ids with the relevant object-ids.

In [24]:
from transcriptic import Connection

api = Connection.from_file('~/.transcriptic')

# If you receive an `Unable to find .transcriptic` file error, please try
# `transcriptic login` into the commandline.

For the rest of the demo, we'll be using the sampledata. If using your credentials, please do not execute the cell below.

In [1]:
from transcriptic.sampledata.connection import MockConnection

api = MockConnection()

In [2]:
## Initialized organization
api.organization_id

'sample-org'

In [3]:
## List projects
api.projects()

[{'id': 'p123',
  'name': 'sample project',
  'created_at': '2020-10-01T00:00:00.000-07:00',
  'updated_at': '2020-10-01T00:59:59.100-07:00'}]

### Project

In [4]:
from transcriptic.sampledata import load_sample_project

In [5]:
my_project = load_sample_project()

In [6]:
## Bring up documentation
my_project?

In [7]:
my_project.name

'sample project'

In [8]:
## View runs in the project as a pandas DataFrame
my_project.runs()

     id        Name
0  r123  Sample Run

Typically, you would initialize a project directly with the given Project-id.

In [9]:
from transcriptic.jupyter import Project

In [10]:
my_project = Project("p123")

### Run

In [11]:
from transcriptic.sampledata import load_sample_run

In [12]:
my_run = load_sample_run()

In [13]:
## Bring up documentation
my_run?

In [4]:
my_run.id

'r123'

In [5]:
my_run.project_id

'p123'

#### Instruction Exploration

In [6]:
my_run.instructions

,Name,Id,Started,Completed,Instructions
0,acoustic_transfer,i123,2020-06-01T15:39:50.873-07:00,2020-06-01T15:39:55.049-07:00,<transcriptic.jupyter.objects.Instruction obje...

In [23]:
# Access column of Instruction-objects
my_instructions = my_run.instructions.Instructions
# Access first instruction
my_inst = my_instructions.loc[0]

In [28]:
# Figure out execution device
my_inst.device_id

'wc1-echo1'

In [31]:
# Figure out started/completion time
print(f"{my_inst.started_at}, {my_inst.completed_at}")

2020-06-01T15:39:50.873-07:00, 2020-06-01T15:39:55.049-07:00

In [32]:
# Examine warp-specifics
my_inst.warps

,Name,WarpId,Completed,Started,Params
0,AcousticLiquidHandler.Transfer,w123,2020-06-01T15:39:54.989-07:00,2020-06-01T15:39:50.791-07:00,"{'sourceContainer': {'id': 'ct123', 'cType': '..."

#### Container Exploration

In [8]:
my_run.containers

,Name,ContainerId,Type,Status,Storage Condition,Containers
0,Echo Source Plate,ct123,384-echo,available,cold_4,Container(Echo Source Plate)
1,VbottomPlate,ct124,96-well-v-bottom,available,cold_4,Container(VbottomPlate)

In [33]:
# Access column of Containers
my_containers = my_run.containers.Containers
cont_123 = my_containers.loc[0]

In [34]:
cont_123

Container(Echo Source Plate)

In [36]:
# Examine aliqutos of this container
cont_123.aliquots

            Name               Id         Volume
Well Index
0           None  aq1egnpw5q5ythw  -1:microliter

In [37]:
# View the autoprotocol container-type
cont_123.container_type

ContainerType(name='384-well Echo plate', is_tube=False, well_count=384, well_depth_mm=None, well_volume_ul=Unit(65.0, 'microliter'), well_coating=None, sterile=None, cover_types=['universal'], seal_types=['foil', 'ultra-clear'], capabilities=['liquid_handle', 'seal', 'spin', 'incubate', 'dispense', 'cover'], shortname='384-echo', col_count=24, dead_volume_ul=Unit(15, 'microliter'), safe_min_volume_ul=Unit(15, 'microliter'), true_max_vol_ul=Unit(135, 'microliter'), vendor='Labcyte', cat_no='PP-0200', prioritize_seal_or_cover='seal')

In [39]:
# View storage status
cont_123.storage

'cold_4'

This run has no data, but typically you'll be able to explore datasets as well

In [7]:
my_run.data

No datasets were found.

Empty DataFrame
Columns: []
Index: []

Typically, you would initialize a project directly with the given Run-id.

In [19]:
from transcriptic.jupyter import Run

In [20]:
# You can select your desired run-id from the project runs
my_run_id = my_project.runs().loc[0].id

In [21]:
my_run = Run(my_run_id)